<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex flex-col justify-center items-center">
    <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-lg mt-20">
        <h1 class="text-2xl font-bold mb-4">Navigation</h1>
        <div class="space-y-4">
            <a href="/background_remover" class="block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Background Remover Page</a>
            <a href="/face_mesh" class="block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Face Mesh Page</a>
            <a href="/face_detector" class="block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Face Detector Page</a>
            
        </div>
    </div>
</body>
</html>
